/* Palette Used: #FFFDF8 (cream), #F8C9D2 (pink), #6A4A3F (brown), #E8DFF5 (purple) */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fffdf8;
  font-family: "Nunito", sans-serif;
  color: #6a4a3f;
  overflow-x: hidden;
}

/* header */
.cartHeader {
  background-color: #6a4a3f;
  width: 100%;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  position: relative;
  display: flex;
  justify-content: center;
  box-shadow: 0 0.5vh 0.5vh rgba(0, 0, 0, 0.2);
}

.headerContent {
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  position: absolute;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #f8c9d2;
  font-family: "Nunito", sans-serif;
}

.cartTitle {
  font-family: "Lobster", sans-serif;
  color: #f8c9d2;
  font-weight: lighter;
  text-shadow: 0.2vh 0.2vh 0.4vh rgba(0, 0, 0, 0.4);
}

/* main */
.cartContainer {
  width: 90%;
  margin: 0 auto;
}

/* cart */
.cartTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5vh;
}

th {
  font-family: "Baloo 2", sans-serif;
  font-weight: bold;
  color: #6a4a3f;
  padding-bottom: 2vh;
}

.th-product {
  text-align: left;
  width: 45%;
}

.th-qty {
  text-align: center;
  width: 25%;
}

.th-total {
  text-align: center;
  width: 30%;
}

.productRow {
  border-bottom: 0.2vh solid #6a4a3f;
}

.productRow td {
  border-bottom: none;

  padding: 3vh 0;
  vertical-align: middle;
}

.td-product {
  display: flex;
  align-items: center;
}

.productImg {
  border-radius: 2vh;
  object-fit: cover;
  box-shadow: 0 0.2vh 0.5vh rgba(0, 0, 0, 0.2);
}

.productDetails {
  margin-left: 2vh;
}

.productName {
  font-family: "Baloo 2", sans-serif;
  font-weight: bold;
  color: #6a4a3f;
  margin-bottom: 0.5vh;
}

.unitPrice {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

.td-qty {
  text-align: center;
}

.qtyBox {
  background-color: #f8c9d2;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  box-shadow: inset 0 0.2vh 0.4vh rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.qtyBtn {
  background: none;
  border: none;
  font-family: "Baloo 2", sans-serif;
  font-weight: bold;
  color: #6a4a3f;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qtyInput {
  background: none;
  border: none;
  text-align: center;
  font-family: "Baloo 2", sans-serif;
  font-weight: bold;
  color: #6a4a3f;
  outline: none;
}

.td-total {
  text-align: center;
  position: relative;
}

.itemTotal {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

.deleteIcon {
  cursor: pointer;
  vertical-align: middle;
  transition: transform 0.2s;
  margin-left: 4vh;
}

/* bottom */
.bottomSection {
  display: flex;
  justify-content: space-between;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.instructionsBox {
  flex: 2;
  margin-right: 5vh;
}

.instructionLabel {
  display: block;
  font-family: "Baloo 2", sans-serif;
  font-weight: bold;
  color: #6a4a3f;
  margin-bottom: 1vh;
}

.instructionArea {
  width: 100%;
  background-color: #e8dff5;
  border: none;
  border-radius: 2vh 2vh 0 2vh;
  resize: none;
  padding: 2vh;
  font-family: "Nunito", sans-serif;
  color: #6a4a3f;
  outline: none;
  box-shadow: inset 0 0.2vh 0.4vh rgba(0, 0, 0, 0.05);
}

.checkoutBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.subtotalRow {
  font-family: "Baloo 2", sans-serif;
  color: #6a4a3f;
  display: flex;
  align-items: center;
}

.subtotalLabel {
  font-weight: bold;
  margin-right: 2vh;
}

.subtotalValue {
  font-weight: bold;
}

.checkoutBtn {
  background-color: #6a4a3f;
  color: #fffdf8;
  border: none;
  border-radius: 50px;
  font-family: "Baloo 2", sans-serif;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0.4vh 0.6vh rgba(0, 0, 0, 0.4);
  transition: transform 0.2s, background 0.2s;
  text-align: center;
  margin-top: 10vh;
}

.checkoutBtn:hover {
  transform: translateY(-0.5vh);
}

@media (min-width: 901px) {
  /* header */
  .cartHeader {
    height: 30vh;
  }

  .headerContent {
    padding-top: 5vh;
  }

  .backToHome {
    left: 0;
    top: 6vh;
  }

  .backToHome img {
    height: 2.5vh;
    margin-right: 1vh;
  }

  .backToHome span {
    font-size: 2.5vh;
  }

  .cartTitle {
    font-size: 10vh;
    margin-top: 6vh;
  }

  th {
    font-size: 3vh;
  }

  .productImg {
    width: 15vh;
    height: 15vh;
    margin-right: 3vh;
  }

  .productName {
    font-size: 3vh;
  }

  .unitPrice {
    font-size: 2.5vh;
  }

  .qtyBox {
    padding: 0.5vh;
    width: 18vh;
    height: 5vh;
  }

  .qtyBtn {
    font-size: 3vh;
    width: 4vh;
  }

  .qtyInput {
    font-size: 3vh;
    width: 6vh;
  }

  .itemTotal {
    font-size: 3vh;
  }

  .deleteIcon {
    height: 3.5vh;
  }

  .instructionLabel {
    font-size: 3vh;
  }

  .instructionArea {
    height: 25vh;
    font-size: 2.5vh;
  }

  .subtotalLabel {
    font-size: 3vh;
  }

  .subtotalValue {
    font-size: 4vh;
  }

  .checkoutBtn {
    width: 30vh;
    padding: 1.5vh 0;
    font-size: 3vh;
    margin-top: 12vh; /* Even more space on large screens */
  }
}

@media (max-width: 900px) {
  .cartHeader {
    height: 25vh;
    border-bottom-left-radius: 50% 15%;
    border-bottom-right-radius: 50% 15%;
  }

  .headerContent {
    padding-top: 4vh;
  }

  .backToHome {
    left: 0;
    top: 4vh;
  }

  .backToHome img {
    height: 2vh;
    margin-right: 1vh;
  }

  .backToHome span {
    font-size: 2vh;
  }

  .cartTitle {
    font-size: 7vh;
    margin-top: 7vh;
  }

  .cartTable {
    margin-top: 3vh;
  }

  th {
    font-size: 2vh;
    padding-bottom: 1vh;
  }

  .productRow td {
    padding: 1.5vh 0;
    border-bottom: none;
  }

  .productImg {
    width: 8vh;
    height: 8vh;
    margin-right: 1.5vh;
    border-radius: 1.5vh;
  }

  .productDetails {
    margin-left: 1vh;
  }

  .productName {
    font-size: 1.8vh;
    margin-bottom: 0.2vh;
  }

  .unitPrice {
    font-size: 1.6vh;
  }

  .qtyBox {
    padding: 0;
    width: 10vh;
    height: 3vh;
  }

  .qtyBtn {
    font-size: 2vh;
    width: 3vh;
  }

  .qtyInput {
    font-size: 1.8vh;
    width: 4vh;
  }

  .itemTotal {
    font-size: 1.8vh;
    margin-right: 0;
  }

  .deleteIcon {
    height: 2vh;
    margin-left: 2vh;
  }

  .bottomSection {
    flex-direction: column;
    gap: 4vh;
    margin-top: 3vh;
    margin-bottom: 5vh;
  }

  .instructionsBox {
    margin-right: 0;
  }

  .instructionLabel {
    font-size: 2vh;
  }

  .instructionArea {
    height: 12vh;
    font-size: 1.8vh;
  }

  .checkoutBox {
    align-items: center;
    width: 100%;
  }

  .subtotalRow {
    margin-bottom: 2vh;
  }

  .subtotalLabel {
    font-size: 2.2vh;
  }

  .subtotalValue {
    font-size: 2.5vh;
  }

  .checkoutBtn {
    width: 70%;
    padding: 1vh 0;
    font-size: 2.2vh;
    margin-top: 3vh;
  }
}
