* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffdf8;
  position: relative;
  overflow: hidden;
  background-image: url("/blobs/confirmation.svg");
  background-size: cover;
  background-position: center;
}

.confirmationCard {
  background-color: #fffdf8;
  padding: 5vh 5vw;
  text-align: center;
  box-shadow: 0 0.5vh 2vh rgba(0, 0, 0, 0.1);
  border-radius: 1vh;
  max-width: 50vw;
}

.confirmationCard h1 {
  font-size: 8vh;
  font-family: "Lobster", sans-serif;
  color: #6a4a3f;
  margin-bottom: 3vh;
  font-weight: lighter;
}

.confirmationCard p {
  font-size: 2.5vh;
  color: #6a4a3f;
  margin-bottom: 4vh;
}

.confirmationCard button {
  padding: 1.5vh 4vh;
  font-size: 2.5vh;
  font-weight: bold;
  border: none;
  border-radius: 5vh;
  background-color: #dacff3;
  color: #5a3e2b;
  cursor: pointer;
  font-family: "Baloo 2", sans-serif;
  font-weight: bold;
}

.confirmationCard:hover {
  transform: translateY(-0.5vh);
}

/* Media Queries */
@media (min-width: 901px) {
  .confirmationCard {
    max-width: 40vw;
    padding: 5vh 5vw;
  }
}

@media (max-width: 900px) {
  .confirmationCard {
    max-width: 80vw;
    padding: 4vh 4vw;
  }
  .confirmationCard button {
    font-size: 2vh;
  }
}
