/* Palette: #FFFDF8 (cream), #F8C9D2 (pink), #6A4A3F (brown), #DACFF3 (purple) */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fffdf8;
  font-family: "Nunito", sans-serif;
  color: #6a4a3f;
  overflow-x: hidden;
}

.formHeader {
  background-color: #f8c9d2;
  width: 100%;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  position: relative;
  display: flex;
  justify-content: center;
  box-shadow: 0 0.5vh 0.5vh rgba(0, 0, 0, 0.1);
}

.headerContent {
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  position: absolute;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #6a4a3f;
  font-family: "Nunito", sans-serif;
}

.pageTitle {
  font-family: "Lobster", sans-serif;
  color: #6a4a3f;
  font-weight: lighter;
  text-shadow: 0.2vh 0.2vh 0.4vh rgba(0, 0, 0, 0.1);
}

.filterSection {
  display: flex;
  justify-content: center;
  gap: 3vh;
  margin: 5vh 0;
}

.filterBtn {
  background-color: #6a4a3f;
  color: #fffdf8;
  border: none;
  border-radius: 50px;
  font-family: "Baloo 2", sans-serif;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0.4vh 0.6vh rgba(0, 0, 0, 0.4);
  transition: transform 0.2s, background 0.2s;
  text-align: center;
}

.filterBtn:hover {
  transform: translateY(-0.3vh);
}

.filterBtn.activeBtn {
  background-color: #f8c9d2;
  color: #6a4a3f;
  box-shadow: inset 0 0.2vh 0.4vh rgba(0, 0, 0, 0.2);
}

.formContainer {
  width: 90%;
  margin: 0 auto;
}

.formTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2vh;
}

th {
  font-family: "Baloo 2", sans-serif;
  font-weight: bold;
  color: #6a4a3f;
  padding-bottom: 2vh;
}

.productRow {
  border-bottom: 0.2vh solid #6a4a3f;
}

.productRow td {
  padding: 3vh 0;
  border-bottom: none;
  vertical-align: middle;
}

.td-checkbox {
  text-align: center;
}

.custom-checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  width: 3.5vh;
  height: 3.5vh;
  margin: 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 3.5vh;
  width: 3.5vh;
  background-color: #fffdf8;
  border: 0.3vh solid #6a4a3f;
  border-radius: 0.8vh;
  transition: all 0.2s ease;
  box-shadow: 0 0.2vh 0.4vh rgba(0, 0, 0, 0.1);
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: #6a4a3f;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.custom-checkbox .checkmark:after {
  left: 1.1vh;
  top: 0.6vh;
  width: 0.5vh;
  height: 1.3vh;
  border: solid #fffdf8;
  border-width: 0 0.4vh 0.4vh 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.td-product {
  display: flex;
  align-items: center;
}

.productImg {
  object-fit: cover;
  box-shadow: 0 0.2vh 0.5vh rgba(0, 0, 0, 0.2);
}

.productDetails {
  margin-left: 2vh;
}

.productName {
  font-family: "Baloo 2", sans-serif;
  font-weight: bold;
  color: #6a4a3f;
  margin-bottom: 0.5vh;
}

.unitPrice {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

.td-qty {
  text-align: center;
}

.qtyBox {
  background-color: #f8c9d2;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  box-shadow: inset 0 0.2vh 0.4vh rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.qtyBtn {
  background: none;
  border: none;
  font-family: "Baloo 2", sans-serif;
  font-weight: bold;
  color: #6a4a3f;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qtyInput {
  background: none;
  border: none;
  text-align: center;
  font-family: "Baloo 2", sans-serif;
  font-weight: bold;
  color: #6a4a3f;
  outline: none;
}

.td-var {
  text-align: center;
}

.sizeSelect {
  background-color: #dacff3;
  color: #6a4a3f;
  border: none;
  border-radius: 50px;
  font-family: "Baloo 2", sans-serif;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 0.2vh 0.4vh rgba(0, 0, 0, 0.2);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("/images/icons/chevronDownBrown.svg");
  background-repeat: no-repeat;
  background-position: right 2vh center;
  background-size: 2vh;
}

.sizeSelect:focus {
  outline: none;
}

.td-total {
  text-align: center;
}

.itemTotal {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

.bottomSection {
  display: flex;
  justify-content: space-between;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.instructionsBox {
  flex: 2;
  margin-right: 5vh;
}

.instructionLabel {
  display: block;
  font-family: "Baloo 2", sans-serif;
  font-weight: bold;
  color: #6a4a3f;
  margin-bottom: 1vh;
}

.instructionArea {
  width: 100%;
  background-color: #e8dff5;
  border: none;
  border-radius: 2vh 2vh 0 2vh;
  resize: none;
  padding: 2vh;
  font-family: "Nunito", sans-serif;
  color: #6a4a3f;
  outline: none;
  box-shadow: inset 0 0.2vh 0.4vh rgba(0, 0, 0, 0.05);
}

.checkoutBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.subtotalRow {
  font-family: "Baloo 2", sans-serif;
  color: #6a4a3f;
  display: flex;
  align-items: center;
}

.subtotalLabel {
  font-weight: bold;
  margin-right: 2vh;
}

.subtotalValue {
  font-weight: bold;
}

.checkoutBtn {
  background-color: #6a4a3f;
  color: #fffdf8;
  border: none;
  border-radius: 50px;
  font-family: "Baloo 2", sans-serif;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0.4vh 0.6vh rgba(0, 0, 0, 0.4);
  transition: transform 0.2s, background 0.2s;
  text-align: center;
  margin-top: 10vh;
}

.checkoutBtn:hover {
  transform: translateY(-0.5vh);
}

/* Popup container */
#popupContainer {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Popup box */
.popup {
  background-color: #fffdf8;
  padding: 30px 25px;
  border-radius: 12px;
  text-align: center;
  min-width: 300px;
  max-width: 400px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease;
}

/* Title */
.popup h2 {
  margin: 0 0 10px;
  color: #6a4a3f;
  font-family: "Lobster", cursive;
  font-weight: lighter;
  font-size: 24px;
}

/* Message */
.popup p {
  margin: 0 0 20px;
  font-size: 16px;
}

/* OK button */
.popup button.ok {
  padding: 8px 20px;
  background-color: #f8c9d2;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s;
}

.popup button.ok:hover {
  transform: translateY(-0.5vh);
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 901px) {
  .formHeader {
    height: 30vh;
  }

  .headerContent {
    padding-top: 5vh;
  }

  .backToHome {
    left: 0;
    top: 6vh;
  }

  .backToHome img {
    height: 2.5vh;
    margin-right: 1vh;
  }

  .backToHome span {
    font-size: 2.5vh;
  }

  .pageTitle {
    font-size: 10vh;
    margin-top: 6vh;
  }

  .filterBtn {
    width: 20vh;
    padding: 1vh 0;
    font-size: 2.5vh;
  }

  .th-checkbox {
    width: 5%;
  }

  .th-product {
    text-align: left;
    width: 40%;
  }

  .th-qty {
    text-align: center;
    width: 20%;
  }

  .th-var {
    text-align: center;
    width: 20%;
  }

  .th-total {
    text-align: center;
    width: 15%;
  }

  th {
    font-size: 3vh;
  }

  .productImg {
    width: 15vh;
    height: 15vh;
    margin-right: 3vh;
  }

  .productName {
    font-size: 3vh;
  }

  .unitPrice {
    font-size: 2.5vh;
  }

  .qtyBox {
    padding: 0.5vh;
    width: 18vh;
    height: 5vh;
  }

  .qtyBtn {
    font-size: 3vh;
    width: 4vh;
  }

  .qtyInput {
    font-size: 3vh;
    width: 6vh;
  }

  .sizeSelect {
    width: 18vh;
    height: 5vh;
    font-size: 2.5vh;
    padding: 0 2vh;
  }

  .itemTotal {
    font-size: 3vh;
  }

  .instructionLabel {
    font-size: 3vh;
  }

  .instructionArea {
    height: 25vh;
    font-size: 2.5vh;
  }

  .subtotalLabel {
    font-size: 3vh;
  }

  .subtotalValue {
    font-size: 4vh;
  }

  .checkoutBtn {
    width: 30vh;
    padding: 1.5vh 0;
    font-size: 3vh;
    margin-top: 12vh;
  }
}

@media (max-width: 900px) {
  .formContainer {
    width: 95%;
  }

  .formHeader {
    height: 25vh;
    border-bottom-left-radius: 50% 15%;
    border-bottom-right-radius: 50% 15%;
  }

  .headerContent {
    padding-top: 4vh;
  }

  .backToHome {
    left: 0;
    top: 4vh;
  }

  .backToHome img {
    height: 2vh;
    margin-right: 1vh;
  }

  .backToHome span {
    font-size: 2vh;
  }

  .pageTitle {
    font-size: 7vh;
    margin-top: 7vh;
  }

  .filterSection {
    gap: 1.5vh;
    margin: 3vh 0;
  }

  .filterBtn {
    width: 14vh;
    padding: 0.8vh 0;
    font-size: 2vh;
  }

  .formTable {
    margin-top: 3vh;
  }

  th {
    font-size: 1.8vh;
    padding-bottom: 1vh;
  }

  .th-checkbox {
    width: 8%;
  }

  .th-product {
    width: 37%;
  }

  .th-qty {
    width: 25%;
  }

  .th-var {
    width: 15%;
  }

  .th-total {
    width: 15%;
  }

  .productRow td {
    padding: 1.5vh 0;
  }

  .custom-checkbox {
    width: 2.2vh;
    height: 2.2vh;
  }

  .checkmark {
    height: 2.2vh;
    width: 2.2vh;
    border: 0.2vh solid #6a4a3f;
    border-radius: 0.4vh;
  }

  .custom-checkbox .checkmark:after {
    left: 0.7vh;
    top: 0.3vh;
    width: 0.5vh;
    height: 1vh;
    border-width: 0 0.3vh 0.3vh 0;
  }

  .productImg {
    width: 6vh;
    height: 6vh;
    margin-right: 1vh;
  }
  .productDetails {
    margin-left: 0.5vh;
  }

  .productName {
    font-size: 1.6vh;
    margin-bottom: 0.2vh;
  }

  .unitPrice {
    font-size: 1.4vh;
  }

  .qtyBox {
    padding: 0;
    width: 8vh;
    height: 2.5vh;
  }

  .qtyBtn {
    font-size: 1.8vh;
    width: 2.5vh;
  }

  .qtyInput {
    font-size: 1.6vh;
    width: 3vh;
  }

  .sizeSelect {
    width: 10vh;
    height: 2.5vh;
    font-size: 1.5vh;
    padding: 0 0.5vh;
  }

  .itemTotal {
    font-size: 1.6vh;
  }

  .bottomSection {
    flex-direction: column;
    gap: 4vh;
    margin-top: 3vh;
    margin-bottom: 5vh;
  }

  .instructionLabel {
    font-size: 2vh;
  }

  .instructionArea {
    height: 12vh;
    font-size: 1.8vh;
  }

  .checkoutBox {
    align-items: center;
    width: 100%;
  }

  .subtotalRow {
    margin-bottom: 2vh;
  }

  .subtotalLabel {
    font-size: 2.2vh;
  }

  .subtotalValue {
    font-size: 2.5vh;
  }

  .checkoutBtn {
    width: 70%;
    padding: 1vh 0;
    font-size: 2.2vh;
    margin-top: 3vh;
  }
}
