html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
.header {
  background-color: #6a4a3f;
  margin: 0 0 5vh 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-weight: lighter;
  background-color: #fffdf8;
  overflow-x: hidden;
}

.reviewSection {
  background-color: #fffdf8;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  background-image: url("/blobs/reviews.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -55vh;
  background-position-y: -40vh;
}

.tasteOfTheirExperienceTitle {
  font-family: "Lobster", sans-serif;
  font-weight: lighter;
  color: #fffdf8;
  text-align: center;
  text-shadow: 0.2vh 0.2vh 0.2vh rgba(0, 0, 0, 0.5);
  margin: 5vh 0;
}

.review-card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.cardImg {
  object-fit: cover;
  flex-shrink: 0;
  box-shadow: 0 0.8vh 1.6vh rgba(106, 74, 63, 0.3);
  z-index: 2;
}

.cardBox {
  box-shadow: 0 0.5vh 1.5vh rgba(106, 74, 63, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2vh;
}

.review-card:nth-child(odd) .cardBox {
  background-color: #f3dde2;
}

.review-card:nth-child(even) .cardBox {
  background-color: #e9e0f7;
}

.cardTitle {
  font-family: "Baloo 2", sans-serif;
  font-weight: bold;
  color: #6a4a3f;
}

.cardText {
  color: #6a4a3f;
  font-style: italic;
  line-height: 1.3;
}

@media (min-width: 901px) {
  .reviewSection {
    padding: 5vh 10vh;
  }

  .tasteOfTheirExperienceTitle {
    font-size: 10vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    color: #fffdf8;
  }

  .reviewsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8vh;
    padding: 5vh 0;
  }

  .review-card {
    align-items: flex-start;
    padding-top: 5vh;
  }

  .cardImg {
    width: 20vh;
    height: 20vh;
    margin-bottom: -10vh;
    margin-left: -2vh;
    position: relative;
  }

  .cardBox {
    width: 100%;
    min-height: 35vh;
    padding: 12vh 3vh 3vh 3vh;
  }

  .cardTitle {
    font-size: 3.5vh;
    margin-bottom: 2vh;
    text-align: right;
    width: 100%;
  }

  .cardText {
    font-size: 2.2vh;
    text-align: center;
  }
}

@media (max-width: 900px) {
  .reviewSection {
    padding: 5vh 3vh;
    background-position-x: -75vh;
    background-position-y: -200vh;
  }

  .tasteOfTheirExperienceTitle {
    font-size: 6vh;
    padding-top: 2vh;
    padding-bottom: 4vh;
  }

  .reviewsGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 6vh;
  }

  .review-card {
    align-items: center;
    padding-top: 0;
  }

  .cardImg {
    width: 18vh;
    height: 18vh;
    margin-bottom: -9vh;
    z-index: 3;
    margin-left: 0;
  }

  .cardBox {
    width: 100%;
    padding: 10vh 3vh 4vh 3vh;
    min-height: auto;
  }

  .cardTitle {
    font-size: 3vh;
    margin-bottom: 1.5vh;
    text-align: center;
  }

  .cardText {
    font-size: 2vh;
    line-height: 2.5vh;
  }
}
